@import url("reset.css");
@import url("functions.less");

html, body {
	height: 100%;
}

#content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

footer, .push {
	height: 40px;
}

body{
   background: @lightGray;
   background-image: url(../images/layout/stripebg.png);
   font-size: 16px;
   font-family: "Century Gothic", CenturyGothic, "Apple Gothic", Arial, sans-serif;
   color: @darkGray;
	overflow-y: scroll;
}

p{
   margin: 15px 0;
}

h1{
   color: @darkGray;
   /*font-family: @lobster cursive;*/
   font-size: 35px;
   text-shadow: 0 2px 2px @white;
	font-weight: bold;
   
   &tagline{
      padding: 10px 25px;
   }
   
}


.tagline{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	text-shadow: 0 -2px 1px #fff;
}

a{
   color: @blue;
   text-decoration: none;
}

.clearfix{
   height: 1px;
   clear: both;
   display: block;
}

header{
   height: 40px;
   background: @blue;
   /*background-image: url(../images/layout/bluestar.png);*/
   border-bottom: solid 1px darken(@blue, 20%);
   outline: #f5f5f5 solid 1px;
	-webkit-box-shadow: 0 10px 75px rgba(3,3,3,.1);
	-moz-box-shadow: 0 10px 75px rgba(3,3,3,.1);
	box-shadow: 0 10px 75px rgba(3,3,3,.1);

	.wrapper{
		.center(960px);
	}
}

nav{
   .center(700px);
   
   ul li{
      list-style-type: none;
      float: left;
      width: 100px;
      text-align: center;
      text-transform: lowercase;
      color: #fff;
      font-weight: bold;
      
      a{
		  color: @white;
		  line-height: 38px;
		  text-shadow: 0 1px 2px darken(@blue, 20%);
		  font-size: 18px;
		  position: relative;
		  top: 0;
		  -webkit-transition: top 0.5s ease-out;
		  -moz-transition: top 0.5s ease-out;
		  -o-transition: top 0.5s ease-out; 
      }
		
		a:hover {
		  top: -5px;
		}
   }
}

#logo{
   width: 300px;
   height: 75px;
   
   a{
      .link-block;
      background-image: url(../images/layout/logo.png);
      background-repeat: no-repeat;
      background-position: 0 -8px;
   }
}

#content{
   .center(1024px);
   clear: both;
   margin-top: 50px;
}

.goodies-content {
	width: 915px !important;
}

#skills-select, #skills_select_chzn{
   width: 475px;
   margin: 30px auto;
   display: block;
   clear:both;
}

#loader-area{
   clear: both;
}

#contact{
   .fl;
   margin-right: 20px;
}

aside {
	.fr;
	width: 210px;
	margin-top: 15px;
}

.login{
   .center(500px) !important;
   margin-top: 80px !important;
}

input[type="text"], input[type="password"],
textarea{
   .user-input;
   width: 450px;
   display: block;
   margin: 20px;
   color: darken(@lightGray, 20%);
   font-family: "Century Gothic", CenturyGothic, "Apple Gothic", Arial, sans-serif;
}

textarea{
   white-space: normal;
   height: 175px;
}

input[type="submit"], .button{
   .gradient;
   padding: 5px;
   width: 477px;
   margin: 20px;
   border: solid 1px darken(@blue, 20%);
   border-radius: 5px;
   box-shadow: inset 0 1px 0 lighten(@blue, 15%);
   color: @white;
   font-weight:bold;
   font-size: 17px;
   font-family: "Century Gothic", CenturyGothic, "Apple Gothic", Arial, sans-serif;
   text-transform: lowercase;
   text-align: center;
   text-shadow: 0 1px 2px darken(@blue, 20%);
	border-color: darken(@blue, 8%) darken(@blue, 15%) darken(@blue, 35%);
	
	&:hover{
		.gradient(darken(@blue, 10%));
		box-shadow: inset 0 1px 0 lighten(@blue, 5%),
						0 1px 0 darken(@blue, 40%);
	}

}

input[type="file"]{
   padding: 10px 0 30px 0;
}
   
.contact-contain{
   .center(750px) !important;
   margin-top: 50px !important;
}

#overview{
   .center(960px);
   background: @white;
   border: solid 1px @lightGray;
   .shadow;
   margin-top: 20px !important;
   
   thead th{
      text-align: left;
      padding: 8px 10px;
      text-transform: uppercase;
      border-bottom: solid 1px @lightGray;
   }
   
   td{
      width: 250px;
      padding: 8px 10px;
      border-bottom: solid 1px @lightGray;
   }

	.goody-row td{
		background-color: lighten(@lightGray, 5%);
		box-shadow: inset 0 3px 10px @lightGray;
		text-align: center;
	}
}

.thumbnail{
   .fl;
   .shadow;   
   width: 200px;
   height: 300px;
   padding: 10px;
   background: @white;
   /*border: solid 1px @lightGray;*/
   margin: 0 15px 30px 15px;
   cursor: pointer;   

   a{
     .link-block;
	  position: relative;
   }
}

.hover-overlay{
   display: none;
	background: fade(#f2f2f2, 95%);//fade(#515050, 85%);
   position: absolute;
	bottom:0;
   width: 200px;
   height: 300px;
   color: @darkGray;
   border-top: solid 1px @white;

	h2{
      font-weight: bold;
      margin: 10px;
      text-align: center;
      font-size: 20px;
	}
   
   ul li{
      list-style-image: url(../images/layout/star.png);
      margin: 5px 0 10px 35px;
   }
}

#loader-section{
   margin-top: 50px;
   display:none;
}

#full-details {
	display:none;
	

}

/*
#full-details + .clearfix{
	margin-bottom: 30px;
}
*/

#gallery{
	.fl;
	width: 550px;
	min-height: 450px;
	margin-left: 15px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-position: center;
	
	img{
		margin-bottom: 10px;
		padding: 10px;
		background: @white;
		border: solid 1px @lightGray;
		.shadow;
	}
}

#details{
	.fr;
	width: 425px;
	margin-right: 30px;

	h2, h3{
		font-weight: bold;
	}

	p{
		line-height: 22px;
		text-align: justify;
		margin-bottom: 30px;
	}

	.button{
		padding: 5px 30px;
		margin-left: 0 !important;
		clear: both;
	}

	ul{
		margin-bottom: 50px;

		li{
			list-style-image: url(../images/layout/star.png);
			margin: 10px 0 10px 20px;
		}
	}
	
	.close {
		background: @white;
		display: inline-block;
		border-radius: 20px;
		width: 25px;
		height: 25px;
		text-align: center;
		box-sizing: border-box;
		padding-top: 4px;
		font-size: 14px;
		border: solid 2px @white;
		font-weight: bold;
		box-shadow: 0 1px 2px #ccc;
		color: @darkGray;
	}
	
}

.goody{
	.fl;
	.shadow;
	width: 400px;
	height: 400px;
   padding: 10px;
   background: @white;
   border: solid 1px @lightGray;
   margin: 15px;
   
	h2{
		font-weight: bold;
		line-height: 5px;
		margin-bottom: 0;
	}

	p{
		margin-top: 8px;
	}

	.download-overlay{
		position: absolute;
		width: 400px;
		height: 320px;
		background: fade(#f2f2f2, 95%);
		background-image: url('../images/layout/download.png');
		background-repeat: no-repeat;
		background-position: center center;
		color: @darkGray;
		font-weight:bold;
		text-align:center;
		line-height: 200px;
		display: none;
	}

	.image-link {
		width: 400px;
		height: 320px;
		display:block;
		margin-bottom: 20px;
	}

}

#content.about {
	.center(800px);
}

.about {
	h2{
		font-size: 22px;
		font-weight: bold;
		margin-bottom: 10px;
		text-transform: lowercase;
	}
	
	.right {
		.fl;
		width: 300px;
		margin-top: 30px;
	
		a	{
			font-weight: bold;
			}
	
	}
	
	.button {
		width: 269px !important;
		display: block;
		margin: 0;
		.inset-padding;
	}
	
	img {
		.shadow;
		display: block;
		padding: 5px;
		background: @white;
		margin-bottom: 20px;
	}
}


.about-me-content {
	.fr;
	width: 500px;
	line-height: 22px;
	text-align: justify;
	

	
	.section {
		margin-top: 30px; 
	}
	
}


footer {
	background: darken(@darkGray, 5%);
	border-top: solid 1px #333;
	color: #ccc;
	font-size: 12px;
}


.gray-loader {
	background-image: url('../images/layout/preloader.gif');
}

.blue-loader {
	background-image: url('../images/layout/preloader_blue.gif');
	background-repeat: no-repeat;
	background-position: center 250px;
}

.chzn-container-multi .chzn-choices {
	.user-input !important;
	padding: 5px !important;
	background-image: none !important;
	
	.search-choice {
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
		background: -moz-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
		background: -linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
		border: solid 1px #e0e0e0;
		border-bottom-color: #ccc;
	}
}

.chzn-drop li {
	background-color: #fafafa;
	border-top: solid 1px @white;
	border-bottom: solid 1px #eee;
}

.chzn-drop li:hover, .highlighted {
	background: @blue !important;
	border-top: solid 1px @white;
	border-bottom: solid 1px #eee;
}

@-webkit-keyframes navhover {
   from {position: relative; top: 0;}
	top  {position: relative; top: -5px;}
}
